<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <title>Navigation Bar</title>
</head>

<body>
    <nav>
        <ul class="navBar">
            <li class="navButton"><a class="navLink" href="/">Home</a></li>
            <li class="navButton"><a class="navLink" href="/post">Post</a></li>
            <li class="navButton"><a class="navLink" href="/scrollingFeed">Feed</a></li>
            <li class="navButton"><a class="navLink" href="/costCalculator">Cost Calculator</a></li>
            <li class="navButton"><a class="navLink" href="/contact">Contact Us</a></li>
            <li class="rightSide"><a class="navLink" href="/login">Login</a></li>
        </ul>
    </nav>
    <span th:text="${user}">Test</span>
</body>

</html>