body
{
    background-size: cover;
    background-position: center;
}

.radio-button
{
    margin: 0 20px;
}

.radio-button .button
{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-button .button::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-button .button:checked::after
{
    content: '';
    background-color: #000;
    transition: 0.5s;
}

.radio-button span
{
    margin-right: 5px;
    font-size: 12px;
}

.booking-form-box
{
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;
}

.booking-form
{
    padding: 0 20px 20px;
}

.booking-form label
{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
}

.input-group
{
    width: 151px;
    display: inline-block;
}

.form-control
{
    font-size: 12px;
    border-radius: 0;
    color: #fff;
    background: transparent;
    box-shadow: none;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.flight
{
    width:100% px;
    padding: 9px 8px;
    font-size: 12px;
    border: 1px solid #ced4da;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.flight:hover
{
    background: #fff;
    border: 1.3px solid;
}