:root
{
    --main-color:#0099db;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.radio-button
{
    margin: 0 20px;
}

.radio-button .button
{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-button .button::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-button .button:checked::after
{
    content: '';
    background-color: #000;
    transition: 0.5s;
}

.radio-button span
{
    margin-right: 5px;
    font-size: 12px;
}

.booking-form-box
{
    position: absolute;
    left: 300px;
    bottom: 500px;
    max-width: 350px;
    border: 1px solid #ced4da;
    margin: 10% auto 0;
}

.booking-form
{
    padding: 0 20px 20px;
}

.booking-form label
{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
}

.input-group
{
    width: 151px;
    display: inline-block;
}

.form-control
{
    font-size: 12px;
    border-radius: 0;
    color: #fff;
    background: transparent;
    box-shadow: none;
}

.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.flight
{
    margin-top: 20px;
    width:100% px;
    padding: 9px 8px;
    font-size: 12px;
    border: 1px solid #ced4da;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.flight:hover
{
    background: #fff;
    border: 1.3px solid;
}

.save
{
    width:100%;
    padding: 9px 8px;
    font-size: 12px;
    border: 1px solid #ced4da;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.save:hover
{
    background: #fff;
    border: 1.3px solid;
}

.content-table
{
    position: absolute;
    left: 800px;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.column
{
    width: 200px;
    padding: 5px;
}

.content-table thead tr
{
    background-color: var(--main-color);
    text-align:left;
    font-weight: bold;
}

.content-table th,
.content-table td
{
    padding: 12px 15px;
}

.content-table tbody tr
{
    border: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type
{
    border-bottom: 2px solid var(--main-color);
}

.content-table tbody tr.active-row
{
    font-weight: bold;
    color: var(--main-color);
}