.image
{
    position: absolute;
    margin: auto; 
}

.table
{
    position: absolute;
    display: table; 
    margin: 0 auto; 
    margin-top: 20px
}

/* body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, var(--main-color), var(--secondary-color));
} */

.container
{
    margin-top: 100px;
    color: white;
    text-align: left;
    max-width: 700px;
    width: 100%;
    background: #29293d;
    padding: 25px 30px;
    border-radius: 5px;
    overflow: hidden;
}