body{
	/*background-color: brown;*/
	margin-top: 0;
	/*margin-bottom: 0;*/
}

.centerdiv{
	background-color: white;
	width: 50%;
	margin: auto;
	padding: 1%;
	padding-top: 0.5%;
}

.locations{
	width: 33%;
	/*height: 200%;*/
	padding: 1%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-bottom: 2%;
}

.titlelabel{
	
}

.contents{
	
}

input[name="postselect"]{
	width: 8px;
	margin-top: -1px;
	vertical-align: middle;
}

.rp{
	font-size: 14px;
	margin: 0;
}