html{
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
li{
 float: left;
}

.tab{
 padding: 25px;
 width: 180px;
 display: block;
 text-decoration: none;
 color:black;
 font-weight: bold;
}

#main {
  width: 80%;
}

#filter{
max-width:150px;
height:30px;
margin-top:12px;
padding:0 10px;
}

#plan_post{
 height: 700px;
 display: inline-block;
 width: 100%;
}

#review_post{
 height: 700px;
 display: inline-block;
 width: 100%;
}

#text_post
{
 height: 700px;
 display: inline-block;
 width: 100%;
}

h1{
 margin:80px;
 text-align: center;
}

.post{
 border: 3px double #000000;
 margin: 100px;
 padding:20px;
}

.title{
 border-bottom: 1px solid black;
 padding-bottom: 10px;
 text-align: left;
 font-size:1.5em;
 font-weight: bold;
}

.rating{
 border-bottom: 1px solid black;
 padding-bottom: 10px;
}

.Infor{
 text-align: right;
 font-size:0.8em;
}

.userInfor{
 border: 1px solid black;
 width:300px;
 margin:20px 100px;
 padding:20px;
}

.container#blur.active
{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active
{
  top: 40%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}