html{
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
li{
 float: left;
}

.tab{
 padding: 25px;
 width: 180px;
 display: block;
 text-decoration: none;
 color:black;
 font-weight: bold;
}

#main {
  width: 80%;
}

#filter{
max-width:150px;
height:30px;
margin-top:12px;
padding:0 10px;
}

#plan_post{
 height: 700px;
 display: inline-block;
 width: 100%;
}

#review_post{
 height: 700px;
 display: inline-block;
 width: 100%;
}

#text_post
{
 height: 700px;
 display: inline-block;
 width: 100%;
}

h1{
 margin:80px;
 text-align: center;
}

.post{
 border: 3px double #000000;
 margin: 100px;
 padding:20px;
}

.title{
 border-bottom: 1px solid black;
 padding-bottom: 10px;
 text-align: left;
 font-size:1.5em;
 font-weight: bold;
}

.rating{
 border-bottom: 1px solid black;
 padding-bottom: 10px;
}

.Infor{
 text-align: right;
 font-size:0.8em;
}

.userInfor{
 border: 1px solid black;
 width:300px;
 margin:20px 100px;
 padding:20px;
}