:root
{
    --main-color:#0099db;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    text-align: left;
    font-family:Verdana,sans-serif;
}

h1{
    color: white;
}

.content-table
{
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.column
{
    width: 100px;
    padding: 5px;
}

.content-table thead tr
{
    background-color: var(--main-color);
    text-align:left;
    font-weight: bold;
}

.content-table th,
.content-table td
{
    padding: 12px 15px;
}

.content-table tbody tr
{
    border: 1px solid #1f1f2e;
}

.content-table tbody tr:nth-of-type(odd)
{
    background-color: #29293d;
}

.content-table tbody tr:nth-of-type(even)
{
    background-color: #1f1f2e;
}

.content-table tbody tr:last-of-type
{
    border-bottom: 2px solid var(--main-color);
}

.content-table tbody tr.active-row
{
    font-weight: bold;
    color: var(--main-color);
}