<div th:fragment="navbar">
    <nav>
        <ul class="navBar">
            <li class="navButton"><a class="navLink" href="/">Home</a></li>
            <!-- <li class="navButton"><a class="navLink" href="/post">Post</a></li> -->
            <li class="navButton"><a class="navLink" href="/scrollingFeed">Feed</a></li>
            <li class="navButton"><a class="navLink" href="/contact">Contact Us</a></li>
            <div class="dropdown">
                <button class="dropbtn">Planning</button>
                <div class="dropdown-content">
                    <a href="/costCalculator">Cost Calculator</a>
                    <a href="/flightSearch">Flight Search</a>
                    <a href="/map">Maps</a>
                </div>
            </div>

            <div class="dropdown" th:if="${role} == 'admin'">
                <button class="dropbtn">Admin Tables</button>
                <div class="dropdown-content">
                    <a href="/viewAdminMessages">Messages</a>
                    <a href="/viewAccountsTable">Accounts</a>
                    <a href="/viewPostsTable">Posts</a>
                </div>
            </div>

            <div class="dropdown" th:if="${user}" style="float:right;">
                <button class="dropbtn">My Account</button>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/notifications">Notifications</a>
                    <a href="/friend">Friends</a>
                    <a href="/logout">Logout</a>
                </div>
            </div> 

            <li class="rightSide" th:if="!${user}"><a class="navLink" href="/login">Login</a></li>
            <!-- <li class="rightSide" th:if="${user}"><a class="navLink" href="/logout">Logout</a></li> -->
        </ul>
    </nav>
</div>