<div th:fragment="navbar">
    <nav>
        <ul class="navBar">
            <li class="navButton"><a class="navLink" href="/">Home</a></li>
            <li class="navButton"><a class="navLink" href="/post">Post</a></li>
            <li class="navButton"><a class="navLink" href="/scrollingFeed">Feed</a></li>
            <li class="navButton"><a class="navLink" href="/costCalculator">Cost Calculator</a></li>
            <li class="navButton" th:if="${user}" ><a class="navLink" href="/viewSavedFlights">View Saved Flights</a></li>
            <li class="navButton"><a class="navLink" href="/contact">Contact Us</a></li>
            <li class="rightSide" th:if="!${user}"><a class="navLink" href="/login">Login</a></li>
            <li class="rightSide" th:if="${user}"><a class="navLink" href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>