<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/table.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>View Admin Messages</title>
</head>

<body>
    <!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>
    
    <a th:href="@{/contact}">Back to Contact Us</a> <br>
    <h1>Administrator Messages</h1>
    <span style="color:maroon" th:text="${message}"></span>
    <form id="messageTableForm" action="#" method="post" th:action="@{/adminMessage}" th:object="${adminMessage}">

        <table class=content-table>
            <thead>
                <tr>
                    <th class="column">Id</th>
                    <th class="column">Username</th>
                    <th class="column">Email</th>
                    <th class="column">Category</th>
                    <th class="column">Post Id</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="id,iter : ${ids}">
                    <td th:text="${id}"></td>
                    <td>
                        <a th:text="${usernames[iter.index]}" th:href="@{/adminMessage(id=${id})}"></a>
                    </td>

                    <td th:text="${emails[iter.index]}"></td>
                    <td th:text="${categories[iter.index]}"></td>
                    <td th:text="${postIds[iter.index]}"></td>
                </tr>
            </tbody>
        </table>

    </form>
</body>

<div id="buttons">
    <form action="#" th:action="@{/deleteAllMessages}" th:method="get">
        <input type="submit" class="button" value="Delete all Messages">
        </input>
    </form>
</div>

</html>

