<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/basicStyle.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/adminMessage.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Admin Message</title>
</head>

<body>
    <!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>

    <div class="container">
        <a th:href="@{/viewAdminMessages}">Back to Messages</a> <br>
        <ul> 
            <li th:text="'ID: ' + ${id}"></li>
            <li th:text="'Username: ' + ${username}"></li>
            <li th:text="'Email: ' + ${email}"></li>
            <li th:text="'Message: ' + ${message}"></li>
            <li th:text="'Post Id: ' + ${postId}"></li>
            </div>
        </ul>
    </div>
    <h2>Reply</h2>
    <form action="#" method="post" id="sending" th:action="@{adminMessage}" th:object="${notification}">
        <input type="text" placeholder="Title" th:field="*{title}" required> <span>(required)</span> <br> <br>
        <input type="hidden" th:field="*{recipient}" name="username" value="User" th:value="${username}">
        <input type="text" placeholder="Body" th:field=*{body} required> <span>(required) </span> <br> <br>
        <input type="submit" value="SEND">
    </form>
</body>

</html>