<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/contact.css}">
    <title>Contact Us</title>
</head>

<body>
    <div class="container">
        <a class="title" th:href="@{/}">Back to Homepage</a>
        <div class="title">Contact Us</div>
        <form id="contactForm" action="#" method="post" th:action="@{/contact}" th:object="${adminMessage}">
            <div class="contact-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" class="input" th:field=*{username} placeholder="Username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" class="input" th:field=*{email} placeholder="Email" required>
                </div>
                <div class="input-box-large">
                    <span class="details">Message</span>
                    <input type="text" class="input" th:field=*{message} placeholder="Message" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Submit"></input>
            </div>
        </form>
        <a th:href="@{/viewAdminMessages}">View Admin Messages</a>
        <a th:href="@{/viewAccountsTable}">View Accounts List</a>
    </div>
</body> 

</html>
