<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/stylesheets/costCalculator.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Travel Cost Calculator</title>
   <script type="text/javascript" src="/js/costCalculator.js" defer=""></script>
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <!-- navbar header -->
    <div id="navbar"></div>
    <script>
    $(function(){
      $("#navbar").load("nav.html");
    });
    </script>
    <!-- navbar header end -->
    
<h2>Travel Cost Calculator</h2>

<table id="table" border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            $  Price
        </th>
        <th>
            Delete
        </th>
    </tr>
    <tr>
        <td>Flight</td>
        <td class="price"><input type="text" name="price" placeholder="amount"></td>
    </tr>
    <tr>
        <td>Hotel</td>
        <td class="price"><input type="text" name="price" placeholder="amount"></td>
    </tr>
    <tr>
        <td>Entry Fee</td>
        <td class="price"><input type="text" name="price" placeholder="amount"></td>
    </tr>
</table>

<div id="addBtn">Other Fee <input type="button" value="add" id="coladd" onclick="coladd()"></div><br>
<div id="BtnPst"><button id="calcBtn" type="button" onclick="calculateTotal()">calculate</button></div>
<div id="showTotal"> Total Cost ... $ <span id="total"></span></div>

</body>
</html>
