<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/basicStyle.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Delete all Messages?</title>
</head>

<body>
    <!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>
    
    <form action="#" id="deleteForm" method="post" th:action="@{/deleteAllMessages}" th:object="${adminMessage}">
        <p th:text="${message}"></p>
        <input name="id" type="hidden" th:value="${tag}">
        <button type="submit" name="action" value="cancel">Cancel</button>
        <button type="submit" name="action" value="delete">Delete</button>
    </form>
</body>

</html>
