<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/stylesheets/basicStyle.css}">
	<link rel="stylesheet" href="/stylesheets/post.css">
	<link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
	<title>Edit a Text Post</title>
	<script type="text/javascript" src="/js/post.js" defer=""></script>
	<link href="https://unpkg.com/cloudinary-video-player@1.5.4/dist/cld-video-player.min.css" rel="stylesheet">
	<script src="https://unpkg.com/cloudinary-core@latest/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
	<script src="https://unpkg.com/cloudinary-video-player@1.5.4/dist/cld-video-player.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/fileupload.js" defer=""></script>
	<link rel="stylesheet" href="/stylesheets/fileupload.css">
</head>
<body>
	<!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>

	<div class="centerdiv">
		<p class="rp"><input type="radio" id="p1" name="postselect" checked/>
			<label for="p1">Text Post</label</p>
		<p class="rp"><input type="radio" id="p2" name="postselect"/>
			<label for="p2">Review</label</p>
		<p class="rp"><input type="radio" id="p3" name="postselect"/>
			<label for="p3">Plan</label</p>
		<h1 class="titlelabel">Title</h1>
		<form action="#" method="post" th:action="@{/editTextPost}" th:object="${post}">
			<input name="id" type="hidden" th:value="${tag}">
			<input type = "text" th:field=*{title} th:value="${title}" maxlength="49">
			<p></p>
			<textarea th:value="${description}" th:name="${description}" th:id="${description}" maxlength="2000" placeholder="Write your post" class="contents" rows = 20 cols=80 style="resize: vertical;"></textarea><p></p>
			<p id="containerForVid"></p>
			<table>
			<tbody>
			  <tr>
				<td id="viewImg00" class="imageCell" style=""><input type="text" th:field=*{image00} th:value="${image00}" id="imageRes00" class="imageResult" readonly></td>
				<td id="viewImg01" class="imageCell" style=""><input type="text" th:field=*{image01} th:value="${image01}" id="imageRes01" class="imageResult" readonly></td>
				<td id="viewImg02" class="imageCell" style=""><input type="text" th:field=*{image02} th:value="${image02}" id="imageRes02" class="imageResult" readonly></td>
				<td id="viewImg03" class="imageCell" style=""><input type="text" th:field=*{image03} th:value="${image03}" id="imageRes03" class="imageResult" readonly></td>
				<td id="viewImg04" class="imageCell" style=""><input type="text" th:field=*{image04} th:value="${image04}" id="imageRes04" class="imageResult" readonly></td>
			  </tr>
			  <tr>
				<td class="imageCell" style=""><input type="text" th:field=*{video00} th:field="${video00}" id="videoID" class="imageResult" readonly></td>
				<td class="imageCell" style=""><input type="text" th:field=*{imagesNum} th:field="${imagesNum}" id="numFiles" class="imageResult" readonly></td>
				<td class="imageCell" style=""><input type="text" th:field=*{mediaType} th:field="${mediaType}" id="fileType" class="imageResult" readonly></td>
			  </tr>
			  <tr>
				<td id="viewImg05" class="imageCell" style=""><input type="text" th:field=*{image05} th:value="${image05}" id="imageRes05" class="imageResult" readonly></td>
				<td id="viewImg06" class="imageCell" style=""><input type="text" th:field=*{image06} th:value="${image06}" id="imageRes06" class="imageResult" readonly></td>
				<td id="viewImg07" class="imageCell" style=""><input type="text" th:field=*{image07} th:value="${image07}" id="imageRes07" class="imageResult" readonly></td>
				<td id="viewImg08" class="imageCell" style=""><input type="text" th:field=*{image08} th:value="${image08}" id="imageRes08" class="imageResult" readonly></td>
				<td id="viewImg09" class="imageCell" style=""><input type="text" th:field=*{image09} th:value="${image09}" id="imageRes09" class="imageResult" readonly></td>
			  </tr>
			</tbody>
			</table>
			<p>
				<label><input type="radio" name="visibility" th:field=*{visibility} value="PRIVATE" required>private</label>
				<label><input type="radio" name="visibility" th:field=*{visibility} value="PUBLIC">public</label>
				<label><input type="radio" name="visibility" th:field=*{visibility} value="FRIENDONLY">friend only</label>
			</p>
			<p><input type="submit" value="SUBMIT EDITS"></p>
		</form>
	</div>
</body>
</html>