<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload File</title>
	<script type="text/javascript" src="/js/fileupload.js" defer=""></script>
</head>
<body>
	<p><input id="ximage00s" type="file" name="media" accept="image/*"></p>
	<p></p><p>TEST</p><p></p>
	<div id="ximage00p">
	<div><img src="https://res.cloudinary.com/hq73wefct/image/upload/v1626847306/samples/landscapes/beach-boat.jpg" width="250"></div>
	<button id="ximage00r" class="link">Remove</button>
	<input type="text" style="visibility: visible" id="ximage00u" value="https://res.cloudinary.com/hq73wefct/image/upload/v1626847306/samples/landscapes/beach-boat.jpg" disabled>
	</div>
</body>
</html>


<!--
<td id="viewImg00" class="imageCell" style="background-image: url('https://res.cloudinary.com/hq73wefct/image/upload/v1626847306/samples/landscapes/beach-boat.jpg');
width: 250px;
height: 250px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;"></td>
-->