<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload File</title>
	<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/fileupload.js" defer=""></script>
</head>
<body>
    <button id="upload_widget" class="cloudinary-button">Upload files</button>
	<p><input id="image00s" type="button">Test button</p><!-- name="media" accept="image/*"></p-->
</body>
</html>