<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/flight.css">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script src="../static/js/flight.js"></script>
    <!--link rel="stylesheet" th:href="@{/stylesheets/flight.css}"-->
    <!--script type="text/javascript" src="/js/flight.js" defer=""-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Plan your Flight</title>
</head>

<body>
    <!-- navbar header -->
    <div id="navbar"></div>
    <script>
    $(function(){
      $("#navbar").load("nav.html");
    });
    </script>
    <!-- navbar header end -->
    
    <div class="booking-form-box">
        <div class="radio-button">
        </div>
        <div class="booking-form">
            <label>Currency</label>
            <input type="text" class="form-control" id="currency" placeholder="CAD" required>

            <label>Origin Country</label>
            <select class="form-control" id="origin"></select required>

            <label>Destination Country</label>
            <select class="form-control" id="destination"></select required>

            <label>Departing Date</label>
            <input type="date" class="form-control select-date" id="outboundDate" required>

            <label>Returning Date</label>
            <input type="date" class="form-control select-date" id="inboundDate" required>

            <div class="input-group">
                <button type="button" class="flight">Show Flights</button>
            </div>
        </div>
    </div>
</body>

</html>