<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/basicStyle.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/table.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Account View</title>
</head>

<body>
    <!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>

    <h1>Friends List</h1>
    <table class=content-table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Date added</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="record : ${records}">
                <td><a th:text="${record.friendUsername}" th:href="@{/profile(username=${record.friendUsername})}"></a></td>
                <td th:text="${record.timestamp}"></td>

            </tr>
        </tbody>
    </table>
</body>

</html>