<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/main.css}">
    <!-- for navbar -->
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <!-- for navbar -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Login to PlanIt</title>
</head>
<body>
    <!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>

    <h1>Login</h1>
    <form action="#" method="post" id="login" th:action="@{/login}" th:object="${account}">
        <span>Username: </span>
        <input type="text" name="username" placeholder="Username" th:field=*{username} required> <br> <br>

        <span>Password: </span>
        <input type="password" name = "password" placeholder="Password" th:field=*{password} required> <br> <br>

        <span style="color:maroon" th:text="${message}"></span> <br> <br>
        
        <a th:href="@{/register}">Register</a> <br>
        <a th:href="@{/forgot}">Forgot Password</a> <br>
        <br>
        <input type="submit" value="LOGIN">
    </form>

    
</body>
</html>