<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <script type="text/javascript" th:src="@{https://polyfill.io/v3/polyfill.min.js?features=default}" defer></script>
    <link rel="stylesheet" th:href="@{/stylesheets/basicStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/map.css}" />
    <script type="text/javascript" th:src="@{/js/map.js}" defer></script>
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div th:replace="fragments/nav :: navbar"></div>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChrwfB43vmuu6kPEsALuEcW_MihZ7nIO4&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>