<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <script type="text/javascript" th:src="@{https://polyfill.io/v3/polyfill.min.js?features=default}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/map.css}" />
    <script type="text/javascript" th:src="@{/js/map.js}" defer></script>
</head>
<body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChrwfB43vmuu6kPEsALuEcW_MihZ7nIO4&callback=initMap&libraries=&v=weekly"
      async
    ></script>

    <footer id="footer">
      <a class="footer-text" th:href="@{/login}">Login </a>
      <a class="footer-text" th:href="@{/register}">Register </a>
      <a class="footer-text" th:href="@{/forgot}">Forgot password </a>
      <a class="footer-text" th:href="@{/post/text}">Create Post</a>
      <a class="footer-text" th:href="@{/costCalculator}">Travel Cost Calculator</a>
      <a class="footer-text" th:href="@{/contact}">Contact</a>
      <a class="footer-text" th:href="@{/map}">Map</a>
    </footer>
</body>
</html>