<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/stylesheets/basicStyle.css}">
	<link rel="stylesheet" href="/stylesheets/post.css">
	<link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
	<title>Create a Post</title>
	<script type="text/javascript" src="/js/post.js" defer=""></script>
	<script src="https://kit.fontawesome.com/860ecee8df.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>

	<div class="centerdiv">
		<p class="rp"><input type="radio" id="p1" name="postselect"/>
			<label for="p1">Text Post</label</p>
		<p class="rp"><input type="radio" id="p2" name="postselect"/>
			<label for="p2">Review</label</p>
		<p class="rp"><input type="radio" id="p3" name="postselect" checked/>
			<label for="p3">Plan</label</p>
		<h1 class="titlelabel">Title</h1>
		<form action="#" method="post" th:action="@{/post/plan}" th:object="${post}">
			<input type = "text" maxlength="49" th:field=*{title}>
			<p></p>
			<textarea placeholder="Add a description" th:field=*{description} maxlength="1000" class="contents" name="textcontent" rows = 6 cols=80 style="resize: vertical;"></textarea>
			<p>
				<label><input type="radio" name="visibility" th:field=*{visibility} value="PRIVATE" required>private</label>
				<label><input type="radio" name="visibility" th:field=*{visibility} value="PUBLIC">public</label>
				<label><input type="radio" name="visibility" th:field=*{visibility} value="FRIENDONLY">friend only</label>
			</p>
			<p><input type="submit" value="CREATE POST"></p>
		</form>
	</div>
</body>
</html>