<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/post.css">
	<title>Create a Post</title>
	<script type="text/javascript" src="/js/post.js" defer=""></script>
	<script src="https://kit.fontawesome.com/860ecee8df.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="centerdiv">
	<p class="rp"><input type="radio" id="p1" name="postselect" checked/>
	<label for="p1">Text Post</label</p>
	<p class="rp"><input type="radio" id="p2" name="postselect"/>
	<label for="p2">Review</label</p>
	<p class="rp"><input type="radio" id="p3" name="postselect"/>
	<label for="p3">Plan</label</p>
	<h1 class="titlelabel">Title</h1>
	<form><!-- action='#' method="post"><!-- th:action="@{/}" th:object="${}"-->
		<input type = "text" maxlength="49"><!--th:field={title}-->
		<p></p>
		<textarea placeholder="Write your post" class="contents" name="textcontent" rows = 20 cols=80 style="resize: vertical;"></textarea><!--th:field={content}-->
		<p><input type="file" name="media" accept="image/*,video/*" multiple></p>
		<p><input type="submit" value="CREATE POST"></p>
	</form>
	</div>
</body>
</html>