<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/basicStyle.css}">
    <link rel="stylesheet" href="./stylesheets/scrollingFeed.css">
    <link rel="stylesheet" th:href="@{/stylesheets/table.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script type="text/javascript" src="/js/scrollingFeed.js" defer=""></script>
	<script type="text/javascript" src="/js/scrollingFiles.js" defer=""></script>
	<link href="https://unpkg.com/cloudinary-video-player@1.5.4/dist/cld-video-player.min.css" rel="stylesheet">
	<script src="https://unpkg.com/cloudinary-core@latest/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
	<script src="https://unpkg.com/cloudinary-video-player@1.5.4/dist/cld-video-player.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<!--link rel="stylesheet" href="/stylesheets/fileupload.css"-->
    <title>Personalized Scrolling Feed</title>
</head>
<body onload="defaultSet()">　

<!-- navbar header -->
<div th:replace="fragments/nav :: navbar"></div>

<div class="container">
    
    <div class="sidebar">
        <form method="POST" th:action="@{/post}">
            <button type="submit" name="submit" value="value" class="link-button" id="createPostBtn">Create a Post</button>
        </form>
        <ul class="tabs">
            <li class="tab"><a href ="#plan_post">Plan Posts</a></li>
            <li class="tab"><a href ="#review_post">Review Posts</a></li>
            <li class="tab"><a href ="#text_post">Text Posts</a></li>
            <div>
                <input type="text" id="filter" placeholder="Search posts/users here" onkeyup="searchPost();searchUser()">
            </div>
            <li class="tab" id="userTab"><a href ="#user_list">Users</a></li>
        </ul>
    </div>
    <div id="main">
        <div id="plan_post">
            <h1>Plan Posts</h1>
            <div class="post Record-Plan-post" th:each="id,iter : ${plan_ids}">
                <a th:href="@{/editPlanPost(id=${id})}" th:if="${plan_creators[iter.index]} == ${user}">Edit Post</a>
                <a th:href="@{/deletePost(id=${id})}" th:if="${plan_creators[iter.index]} == ${user}">Delete Post</a>
                <a th:href="@{/reportPost(id=${id})}">Report Post</a> <br> <br>
                <a class="title" th:href="@{/viewPost(id=${id})}" th:text="${plan_titles[iter.index]}"></a>
                <p th:text="${plan_descriptions[iter.index]}"/>
                <p class="Infor" th:text="'post by : '+ ${plan_creators[iter.index]}"/>
                <p class="Infor" th:text="'post type : '+${plan_visibilities[iter.index]}+' post'"/>
                <p class="Infor" th:text="${plan_postDates[iter.index]}"/>
            </div>
        </div>

        <div id="review_post">
            <h1>Review Posts</h1>
            <div class="post Record-Review-post" th:each="id,iter : ${review_ids}">
                <a th:href="@{/editReviewPost(id=${id})}" th:if="${review_creators[iter.index]} == ${user}">Edit Post</a>
                <a th:href="@{/deletePost(id=${id})}" th:if="${review_creators[iter.index]} == ${user}">Delete Post</a>
                <a th:href="@{/reportPost(id=${id})}">Report Post</a> <br> <br>
                <a class="title" th:href="@{/viewPost(id=${id})}" th:text="${review_titles[iter.index]}"></a>
                <p class="rating" th:text="${review_ratings[iter.index]}+' / 5'"/>
                <p th:text="${review_descriptions[iter.index]}"/>
                <p class="Infor" th:text="'post by : '+ ${review_creators[iter.index]}"/>
                <p class="Infor" th:text="'post type : '+${review_visibilities[iter.index]}"/>
                <p class="Infor" th:text="${review_postDates[iter.index]}"/>
            </div>
        </div>

        <div id="text_post">
            <h1>Text Posts</h1>

            <div class="post Record-Text-post" th:each="id,iter : ${text_ids}">
                <a th:href="@{/editTextPost(id=${id})}" th:if="${text_creators[iter.index]} == ${user}">Edit Post</a>
                <a th:href="@{/deletePost(id=${id})}" th:if="${text_creators[iter.index]} == ${user}">Delete Post</a>
                <a th:href="@{/reportPost(id=${id})}">Report Post</a> <br> <br>
                <a class="title" th:href="@{/viewPost(id=${id})}" th:text="${text_titles[iter.index]}"></a>
                <p th:text="${text_descriptions[iter.index]}"/>
				
				<p th:id="${text_ids[iter.index]}">
				<script type="text/javascript">
					var currID = [[${text_ids[iter.index]}]];
					displayMedia( currID );</script>
				<p class="mediaContainer"></p>
				<table><tbody>
				  <tr>
					<td class="imageCell"><p class="remButton00"></p><input type="text" th:value="${text_image00s[iter.index]}" class="imageResult imageRes00" disabled></td>
					<td class="imageCell"><p class="remButton01"></p><input type="text" th:value="${text_image01s[iter.index]}" class="imageResult imageRes01" disabled></td>
					<td class="imageCell"><p class="remButton02"></p><input type="text" th:value="${text_image02s[iter.index]}" class="imageResult imageRes02" disabled></td>
					<td class="imageCell"><p class="remButton03"></p><input type="text" th:value="${text_image03s[iter.index]}" class="imageResult imageRes03" disabled></td>
					<td class="imageCell"><p class="remButton04"></p><input type="text" th:value="${text_image04s[iter.index]}" class="imageResult imageRes04" disabled></td>
				  </tr>
				  <tr>
					<td class="imageCell"><input type="text" th:value="${text_video00s[iter.index]}" class="imageResult videoID" disabled></td>
					<td class="imageCell"><input type="text" th:value="${text_imagesNums[iter.index]}" class="imageResult numFiles" disabled></td>
					<td class="imageCell"><input type="text" th:value="${text_mediaTypes[iter.index]}" class="imageResult fileType" disabled></td>
				  </tr>
				  <tr>
					<td class="imageCell"><p class="remButton05"></p><input type="text" th:value="${text_image05s[iter.index]}" class="imageResult imageRes05" disabled></td>
					<td class="imageCell"><p class="remButton06"></p><input type="text" th:value="${text_image06s[iter.index]}" class="imageResult imageRes06" disabled></td>
					<td class="imageCell"><p class="remButton07"></p><input type="text" th:value="${text_image07s[iter.index]}" class="imageResult imageRes07" disabled></td>
					<td class="imageCell"><p class="remButton08"></p><input type="text" th:value="${text_image08s[iter.index]}" class="imageResult imageRes08" disabled></td>
					<td class="imageCell"><p class="remButton09"></p><input type="text" th:value="${text_image09s[iter.index]}" class="imageResult imageRes09" disabled></td>
				  </tr>
				</tbody></table></p>
				
                <p class="Infor" th:text="'post by : '+ ${text_creators[iter.index]}"/>
                <p class="Infor" th:text="'post type : '+${text_visibilities[iter.index]}+' post'"/>
                <p class="Infor" th:text="${text_postDates[iter.index]}"/>
            </div>
        </div>

        <br><br><br>

        <div id="user_list">
            <div class="userList" th:each="username,iter : ${usernames}" >
                <p class="userInfor">
                    <a th:text="${username}" th:href="@{/profile(username=${username})}"></a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>