<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/scrollingFeed.css">
    <title>Personalized Scrolling Feed</title>
</head>
<body>　
<nav>
    <ul>
        <li class="tab"><a href ="#plan_post">Plan Posts</a></li>
        <li class="tab"><a href ="#review_post">Review Posts</a></li>
        <li class="tab"><a href ="#text_post">Text Posts</a></li>
    </ul>
</nav>

<div id="plan_post">
    <h2>Plan Posts</h2>
</div>

<div id="review_post">
    <h2>Review Posts</h2>
    <div class="post" th:each="title,iter : ${review_titles}">
        <p class="title" th:text="${title}"/>
        <p th:text="${review_descriptions[iter.index]}"/>
    </div>
</div>


<div id="text_post">
    <h2>Text Posts</h2>

    <div class="post" th:each="title,iter : ${text_titles}">
        <p class="title" th:text="${title}"/>
        <p th:text="${text_descriptions[iter.index]}"/>
    </div>
</div>



<br>
<a href="/homepage">BACK TO HOME PAGE</a>
</body>
</html>