<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/adminMessageTable.css}">
    <title>View Accounts</title>
</head>

<body>
    <a th:href="@{/contact}">Back to Contact Us</a> <br>
    <h1>Accounts List</h1>
    <form id="messageTableForm" action="#" method="post" th:action="@{/viewAccount}" th:object="${viewAccount}">

        <table class=content-table>
            <thead>
                <tr>
                    <th class="column">Id</th>
                    <th class="column">Username</th>
                    <th class="column">Email</th>
                    <th class="column">First Name</th>
                    <th class="column">Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="id,iter : ${ids}">
                    <td th:text="${id}"></td>
                    <td>
                        <a th:text="${usernames[iter.index]}" th:href="@{/viewAccount(id=${id})}"></a>
                    </td>
                    </td>

                    <td th:text="${emails[iter.index]}"></td>
                    <td th:text="${fnames[iter.index]}"></td>
                    <td th:text="${lnames[iter.index]}"></td>
                </tr>
            </tbody>
        </table>

    </form>
</body>

</html>

