<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/adminMessage.css}">
    <title>Account View</title>
</head>

<body>
    <div class="container">
        <a th:href="@{/viewAccountsTable}">Back to Accounts Table</a> <br>
        <ul class="table"> 
            <li th:text="'ID: ' + ${id}"></li>
            <li th:text="'Username: ' + ${username}"></li>
            <li th:text="'Email: ' + ${email}"></li>
            <li th:text="'First Name: ' + ${fname}"></li>
            <li th:text="'Last Name: ' + ${lname}"></li>
            <li th:text="'Account Type: ' + ${role}"></li>
            </div>
        </ul>
    </div>
</body>

</html>