<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/adminMessage.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/nav.css}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Account View</title>
</head>

<body>
    <!-- navbar header -->
    <div th:replace="fragments/nav :: navbar"></div>
    
    <div class="container">
        <a th:href="@{/viewAccountsTable}">Back to Accounts Table</a> <br>
        <ul class="table"> 
            <li th:text="'ID: ' + ${id}"></li>
            <li th:text="'Username: ' + ${username}"></li>
            <li th:text="'Email: ' + ${email}"></li>
            <li th:text="'First Name: ' + ${fname}"></li>
            <li th:text="'Last Name: ' + ${lname}"></li>
            <li th:text="'Account Type: ' + ${role}"></li>
            </div>
        </ul>
    </div>
    <form method="POST" th:action="@{/viewAccount/addFriend(friendUsername=${username})}">
        <button type="submit" name="submit" value="value" class="link-button">Add Friend</button>
    </form>
    <form method="POST" th:action="@{/viewAccount/removeFriend(friendUsername=${username})}">
        <button type="submit" name="submit" value="value" class="link-button">Remove Friend</button>
    </form>
</body>

</html>